FLOW_HOST=0.0.0.0
FLOW_PORT=8011
FLOW_API_KEY_1=horus-demo-key-2026
FLOW_API_TIER_1=free
FLOW_API_KEY_2=horus-trader-key-2026
FLOW_API_TIER_2=trader

APCA_API_KEY_ID=PK5WEM3D6AWMYV6K8J3E
APCA_API_SECRET_KEY=yX6V5Q2B2E9V5B8N7C4M3L1P0X9Z8V7B6N5M4L3K2
